* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
}

.carrusel {
    margin-top: 56px;
}

.noticias {
    padding: 30px;
    background-color: black;
}

.noticias__titulo {
    color: white;
}

.noticias__imgBox {
    width: 150px;
    height: 150px;
    margin-right: 30px;
    margin-left: 20px;
}

.noticias__img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    
}

.listcolor {
    background-color: white;
    padding: 20px;
}

.footer {
    min-height: 50vh;
    background-color: rgb(44, 44, 44);
    padding: 50px;
}

.footer__navList {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 2rem;
}

.footer__navLink {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.footerName {
    color: white;
    text-align: center;
    margin-top: 150px;
}

.tableBox {
    padding: 40px;
}

.logoReal {
    width: 125px;
    height: 174.86px;
    margin-bottom: 20px;
}

.plantilla {
    width: 346.86px;
    height: 250px;
}

.imgFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}